img{
  height: 350px;
  width: 500px;
  margin-right: 40px;
}
#star{
  height:50px;
  width: 120px;
}
.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-right: 30px; */
  
}
.secondList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-right: 30px; */
  
}
.name{
  display: inline;
}
.profilePic{
  border-radius: 50%;
  height:50px;
  width: 50px;
}
.homeDiv{
  display: block;
  text-align: left;
  display:inline;
  
}